{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Seiteninhalt {% endblock %}

<!-- Needed for Galery (Slick) -->
{% block javascript %}
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/cms/slick/slick-carousel.css' %}" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/cms/slick/slick-theme.css' %}" />
{% endblock %}

{% block content %}

{% include "pages/cms/components/GalerySelectModal.html" %}

<div class="container mx-auto mt-8">
    <div class="flex justify-between">
        <h1 class="text-2xl "><a href="{% url 'cms:sites' %}" class="text-blue-500">Seiten</a> / <a
                href="{% url 'cms:site_hauptseite' %}" class="text-blue-500">Hauptseite</a> / <span>Galerie</span></h1>
        <div>
            {% csrf_token %}
            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-6 hover:cursor-pointer"
                id="saveTextData" name="main_galerie">
                Speichern
            </a>
        </div>
    </div>


    <!-- ====== About Section Start -->
  <section id="Galerie" class="overflow-hidden pb-12 pt-20 lg:pb-[90px] lg:pt-[120px]">
    <div class="container mx-auto">
      <div class="flex flex-wrap items-center justify-between">
        <div class="w-full px-4 lg:w-6/12">
          <div class="relative mb-12 lg:mb-0">
            <div class="mx-auto max-w-[430px]">
              <div class="h-50 relative">
                <div id="slider" class="galery-container container xs:h-129 sm:h-130 md:h-131 lg:h-132 xl:h-133 mx-auto relative" key="main_Galery">
                    <span class="absolute top-0 left-0 inline-block px-2 py-1 text-sm font-semibold text-white bg-orange-500 rounded-full z-40 hover:cursor-pointer edit-galery"><i class="bi bi-pencil-square"></i></span>
                    <div class="carousel">
                    {% if mainGalery %}
                        {% for img in mainGalery %}
                        <div>
                            <img src="{{img.upload.url}}" alt="{{img.title}}" class="w-full rounded-xl h-96" />
                        </div>
                        {% endfor %}
                    {% else %}
                    <div>
                        <img src="https://placehold.co/600x400" 
                            alt="Template Design" class="w-full rounded-xl h-96"/>
                    </div>
                    <div>
                        <img src="https://placehold.co/600x400" 
                            alt="Template Design" class="w-full rounded-xl h-96"/>
                    </div>
                    {% endif %}

                    </div>
                </div>

              </div>
              
            </div>
          </div>
        </div>
        <div class="w-full px-4 lg:w-1/2 2xl:w-5/12">
          <div class="mt-10 lg:mt-0">
            <span class="mb-2 block text-lg font-semibold text-[#40904d] md:mb-4">
              <input id="header" class="mb-4 inline-block rounded-lg px-3 py-2 w-60 text-sm font-semibold tracking-wider leading-none appearance-none border-2 border-gray-200 bg-gray-200 text-center focus:bg-white focus:border-blue-500 focus:outline-none" value="{% if textContent and textContent.header %}{{textContent.header}}{% else %}Was wir machen!{%endif%}"></input>
            </span>
            <h2 class="mb-11 text-3xl font-bold leading-tight text-black sm:text-4xl sm:leading-tight md:text-5xl lg:text-4xl lg:leading-tight xl:text-5xl">
              <input id="title" class="mb-6 max-w-lg font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto inline-block w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-center focus:bg-white focus:border-blue-500 focus:outline-none" value="{% if textContent and textContent.title %}{{textContent.title}}{% else %}Entdecken Sie unsere Galerie: HD-Glas in Aktion!{%endif%}"></input>
            </h2>

            <div class="mb-8 flex">
              <span class="w-full max-w-[45px] pr-4 text-2xl font-bold text-[#40904d]">
                01
              </span>
              <div class="text-content w-full" key="main_Galery_1">
                <input inputType="title" class="mb-3 inline-block w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-center text-xl font-bold leading-5 tracking-tight focus:bg-white focus:border-blue-500 focus:outline-none" 
                value="{% if galerie1Text and galerie1Text.title %}{{galerie1Text.title}}{% else %}Autoglas{% endif %}" />
                <textarea inputType="description" class="mb-3 text-base text-gray-900 bg-gray-200 rounded-lg appearance-none border-2 border-gray-200 w-full py-2 px-4  leading-tight focus:outline-none focus:bg-white focus:border-blue-500 h-48">{% if galerie1Text and galerie1Text.description %}{{galerie1Text.description}}{% else %}Mit unserer langjährigen Erfahrung und Fachkompetenz im Bereich Autoglasreparatur und -austausch seit 2009 garantieren wir Ihnen eine erstklassige Lösung für Ihre Fahrzeugscheiben.{% endif %}</textarea>
              </div>
            </div>

            <div class="flex">
              <span class="w-full max-w-[45px] pr-4 text-2xl font-bold text-[#40904d]">
                02
              </span>
              <div class="text-content w-full" key="main_Galery_2">
                <input inputType="title" class="mb-3 inline-block w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-center text-xl font-bold leading-5 tracking-tight focus:bg-white focus:border-blue-500 focus:outline-none" 
                value="{% if galerie2Text and galerie2Text.title %}{{galerie2Text.title}}{% else %}Hausmeisterservice{% endif %}" />
                <textarea inputType="description" class="mb-3 text-base text-gray-900 bg-gray-200 rounded-lg appearance-none border-2 border-gray-200 w-full py-2 px-4  leading-tight focus:outline-none focus:bg-white focus:border-blue-500 h-48">{% if galerie2Text and galerie2Text.description %}{{galerie2Text.description}}{% else %}Seit unserem Einstieg in den Hausmeisterservice im Jahr 2021 bieten wir professionelle und zuverlässige Dienstleistungen für die Instandhaltung und Pflege Ihrer Immobilie an.{% endif %}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== About Section End -->



    {% block javascriptend %}
    {% compress js inline %}
    <script defer src="{% static 'js/cms.js' %}"></script>
    <script src="{% static 'js/cms/content/save-text.js' %}"></script>
    <script defer src="{% static 'js/cms/content/siteManager.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cms/slick/slick.min.js' %}"></script>
    <script>
        $('.carousel').slick({
        dots: true,  // Display navigation dots
        arrows: true,  // Display navigation arrows
        infinite: true,  // Enable infinite looping
        slidesToShow: 1,  // Number of slides to show at once
        slidesToScroll: 1,  // Number of slides to scroll at a time
        autoplay: true,
        autoplaySpeed: 3000,
        // Add any other configuration options as needed
    });
    </script>
    <script defer>
        $(document).ready(function () {
            loadGalerien(false);
        })
    </script>
    {% endcompress js %}
    {% endblock javascriptend %}


    {% endblock content %}