{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Seiteninhalt {% endblock %}

{% block content %}

{% include "pages/cms/components/ImageSelectModal.html" %}

<div class="container mx-auto mt-8">
    <div class="flex justify-between">
        <h1 class="text-2xl "><a href="{% url 'cms:sites' %}" class="text-blue-500">Seiten</a> / <a
                href="{% url 'cms:site_hauptseite' %}" class="text-blue-500">Hauptseite</a> / <span>Hero</span></h1>
        <div>
            {% csrf_token %}
            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-6 hover:cursor-pointer"
                id="saveTextData" name="main_hero">
                Speichern
            </a>
        </div>
    </div>


    <div class="relative pb-[110px] pt-[150px] lg:pt-[170px]">
        <div class="container mx-auto px-2 md:px-0">
            <div class="flex flex-wrap items-center sm:px-5">
                <div class="w-full px-4 lg:w-1/2">
                    <div class="mb-12 lg:mb-0">
                        <div class="flex flex-col">
                            <input id="header"
                                class="bg-gray-200 appearance-none border-2 inline-block py-2 px-2 border-gray-200 rounded-lg mb-5 text-3xl font-bold leading-[1.208] text-black lg:text-[38px] xl:text-[40px]"
                                value="{% if heroText %}{{heroText.title}}{% else %}Autoglas-Service{% endif %}" />
                            <input id="title"
                                class="text-[#40904d] bg-gray-200 appearance-none border-2 inline-block py-2 px-2 border-gray-200 rounded-lg mb-5 text-3xl font-bold leading-[1.208]"
                                value="{% if heroText %}{{heroText.header}}{% else %}HD-GLAS{% endif %}" />
                        </div>
                        <textarea id="description"
                            class="mb-4 h-52 w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-base leading-tight text-gray-800 focus:border-blue-500 focus:bg-white focus:outline-none md:text-lg">{% if heroText %}{{heroText.description}}{% else %}Die Spezialisten von HD-Glas in Plattling beheben schnell und unbürokratisch Ihren Steinschlagschaden oder erneuern die Scheiben. Dazu steht Ihnen das Team von HD-Glas gerne mit Rat und Tat zur Seite, wenn es darum geht, Ihre Sicht auf die Straße angenehm und sicher zu machen.{% endif %}
                        </textarea>

                        <input id="buttonText"
                            class="mb-3 h-[52px] rounded-md bg-[#40904d] px-7 text-base font-medium text-white transition"
                            value="{% if heroText %}{{heroText.buttonText}}{% else %}Kontakt{% endif %}"/>

                    </div>
                </div>

                <div class="w-full px-4 lg:w-1/2">
                    <div class="flex flex-wrap">
                        <div class="w-1/2 px-2 sm:px-4">
                            <div class="mb-4 h-[256px] sm:mb-8 sm:h-[442px] lg:h-[332px] xl:h-[442px]">
                                <div class="relative h-full">
                                    <img src="{% if heroImage1 %}{{heroImage1.file.url}}{% else %}{% static 'images/Firmengebaeude.jpg' %}{% endif %}"
                                        alt="{% if heroImage1 %}{{heroImage1.file.title}}{% else %}hero image{% endif %}"
                                        class="h-full w-full object-cover object-center content-image" key="main_hero_1"
                                        imgId="{% if heroImage1 %}{{heroImage1.id}}{% endif %}">
                                    <span
                                        class="edit-img absolute left-0 top-0 z-40 inline-block rounded-full bg-orange-500 px-2 py-1 text-sm font-semibold text-white hover:cursor-pointer"><i
                                            class="bi bi-pencil-square"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/2 px-2 sm:px-4">
                            <div class="mb-4 h-[120px] sm:mb-8 sm:h-[205px] lg:h-[150px] xl:h-[205px]">
                                <div class="relative h-full">
                                    <img src="{% if heroImage2 %}{{heroImage2.file.url}}{% else %}{% static 'images/Steinschlag.png' %}{% endif %}"
                                        alt="{% if heroImage2 %}{{heroImage2.file.title}}{% else %}hero image{% endif %}"
                                        class="h-full w-full object-cover object-center content-image" key="main_hero_2"
                                        imgId="{% if heroImage2 %}{{heroImage2.id}}{% endif %}">
                                    <span
                                        class="edit-img absolute left-0 top-0 z-40 inline-block rounded-full bg-orange-500 px-2 py-1 text-sm font-semibold text-white hover:cursor-pointer"><i
                                            class="bi bi-pencil-square"></i></span>
                                </div>
                            </div>
                            <div class="mb-4 h-[120px] sm:mb-8 sm:h-[205px] lg:h-[150px] xl:h-[205px]">
                                <div class="relative h-full">
                                    <img src="{% if heroImage3 %}{{heroImage3.file.url}}{% else %}{% static 'images/Montage.jpg' %}{% endif %}"
                                        alt="{% if heroImage3 %}{{heroImage3.file.title}}{% else %}hero image{% endif %}"
                                        class="h-full w-full object-cover object-center content-image" key="main_hero_3"
                                        imgId="{% if heroImage3 %}{{heroImage3.id}}{% endif %}">
                                    <span
                                        class="edit-img absolute left-0 top-0 z-40 inline-block rounded-full bg-orange-500 px-2 py-1 text-sm font-semibold text-white hover:cursor-pointer"><i
                                            class="bi bi-pencil-square"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



{% block javascriptend %}
{% compress js inline %}
<script defer src="{% static 'js/cms.js' %}"></script>
<script src="{% static 'js/cms/content/save-text.js' %}"></script>
<script defer src="{% static 'js/cms/content/siteManager.js' %}"></script>
<!-- Needed for Galery -->
<script defer>
    $(document).ready(function () {
        loadImages(false);
    })
</script>
{% endcompress js %}
{% endblock javascriptend %}



{% endblock content %}